/*csslint ids: false, box model: false*/


/**************************************
GENERAL
**************************************/
body{
 font-family: 'Open Sans', sans-serif;
}


#wrapper{
     /*Margin 0 is for all sides*/
    margin: 0 auto;
    /*max-width is related to width. But instead of width, max-width that it can be smaller for mobile devices/
    tablet.*/
    max-height: 30000px;
    /*Values first one is top and bottom. Second one is left and right.*/
    padding: 0 5%;
}

a{
 text-decoration: none;
}

img {
  border-radius: 15%;
  max-width: 100%;  
}

h3{
  margin: 0 0 1em 0;  
}

/**************************************
HEADER
**************************************/
header{
float: left;
margin: 0 0 30px 0;
padding: 5px 0 0 0;
width: 100%;
}

#logo{
    /*our name and description of who we are.*/
    font-size: 1.75em; 
    margin: 0;
    text-align: center;
}

h1{
    color: #6ab47b;
    font-family: 'Sarala', sans-serif;
    margin: 15px 0;
}

h2{
color: #6ab47b;
font-size: 1.25em;
font-weight: normal;
margin: -5px 00;
}

/*====================================
NAVIGATION
======================================*/
nav{
    text-al ign: center;
    padding: 10xp 0;
    margin: 20px 0 0;
}

nav ul{
  list-style: none;
  padding: 10px 0;
  margin: 0 10px;    
}

nav li{
   display: inline-block;
} 

nav a {
   font-weight: 800;
    padding: 15px 10px;
}
 
/**************************************
FOOTER
**************************************/
 
footer{
    font-size: 1.25em;
    text-align: center;
    padding-top: 50xp;
    color: #00868b;
    clear: both;
}

.social-media-icon{
  width 200px;
  height: 200px;
  margin 0 5px;
} 

/**************************************
PAGE PORTFOLIO
**************************************/

#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
float: left;
width: 45%;   
margin 2.5%;
background-color: orange;
color: #ffff00;    
}

#gallery li a p{
color: yellow;
font-size: 0.75em; 
padding: 5%;
margin: 0;
}

/**************************************
ABOUT ME PAGE 
**************************************/
.profile-photo{
    display: block;
    max-width:  400px;
    border-radius: 25%;
}

/**************************************
CONTACTPAGE
**************************************/
.contact-info{
list-style: none;
padding: 0;
margin: 0;
font-size: 0.9em;
}

.contact-info a {
 display: block;
 min-height: 20px;
 /*by defualt it will always repeat, background images*/
background-repeat: no-repeat;
/*re-size the background img*/
background-size: 20px 20px;
padding: 0 0 0 30px;
margin: 0 0 10px;    
} 
.contact-info .mail a{
 background-image: url('../img/mail.png');
}

.contact-info .googleplus a{
 background-image: url('../img/googleplus.png');
}


/**************************************
COLORS
**************************************/
     body {
 background-image: url('/img/nba2k.jpg');
    color: #999;
}

a{
  color: #1ddee2;
}

header{
    background: ;
}

nav{
   background: #0991f7;
}
/*Pseudo-Class*/
nav a, nav a:visited {
    color: #00f9e6;
}

nav a.selected, nav a:hover {
    color: #000000;
}

/**************************************
MEDIA Querie
****************************************/
/*TWO COLOMN LAYOUT*/

@media screen and (min-width: 480px){
    #prymary{
       width: 50%;
      float: left;
    }
    
    #secondary{
       width: 40%;
      float: right; 
    }
    /*THREE COLUMB LAYOUT PORTFOLIO*/
    #gallery li{
        width 28.3333%;
    }
    #gallery li:nth-child(5n){
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo{
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px){
    /*nav*/
    nav{
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo{
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
    }
    h1{
      font-size: 2.5em;  
    }
    
    h2{
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    
}
    
    
    
    
    